[2020-03-10 00:46] dsentinel commented on #386
I agree that this seems dodgy; overwriting the multiplier on a read... Eep!

There must be 2 code paths here. Does `ph5toms` not use `experiment.read_das()` or `ph5api.read_das_t()` which calls the former?

Where/how is `ph5toms` failing?
What is the SR for
[code]

I would think that this is some kind of historical hack.
I imagine the `multiplier` here is the same as SEED. In SEED multiplier of 0

[2020-03-10 15:22] hrotman-pic commented on #386
Here's a snippet of a das table on one of the affected experiments, sample_rate_multiplier_i isn't present:
#
#       Fri Mar  6 18:37:15 2020        ph5 version: 4.1.2
#
#   Table row 1
/Experiment_g/Receivers_g/Das_g_11554/Das_t
        array_name_SOH_a=SOH_a_0001
        array_name_data_a=Data_a_0001
        array_name_event_a=
        array_name_log_a=
        channel_number_i=2
        event_

[2020-03-10 19:10] dsentinel commented on #381
@jchaput82 , Did you get this sorted?
If you're still having issues, can you provide one or 2 culprit files?

[2020-03-10 23:17] nick-falco commented on #386
The ph5ws-dataselect service code returns with the following stack trace:

[code]

There error occurs in`ph5api`:
https://github.com/PIC-IRIS/PH5/blob/master/ph5/core/ph5api.py#L1172-L1174

The das table is read using the `filter_das_t` method:
https://github.com/PIC-IRIS/PH5/blob/master/ph5/core/ph5api.py#L1124

We could put in a special case to handle the missing or zero `sample_rate_multiplier_

[2020-03-10 23:36] dsentinel commented on #386
Does this mean there are 2 code paths? ... There are also another sample_rate and multiplier in Sorts_g/Array_t_xxx as well as Receivers_g/Das_g_xxx/Das_t

I think the data should definitely be fixed, and that the code should default to 1 and not allow 0.

[2020-03-11 01:20] jchaput82 commented on #381
Sort of; I still don't know why proforma refused to load some of the files,
but I suspect it was a communication problem between it and the computer (I
think pforma tried to use a core that was not available or something).
Loading the "problem stations" as a subset worked fine, as did command line
tools.
A bigger problem is the current build. I've now tried on 3 different
platforms, and run into p

[2020-03-11 14:16] hrotman-pic commented on #386
More or less.  I think we talked about this in a standup once.  response_table_n_i and receiver_table_n_i are also in both the das and array tables, but don't necessarily match and the array table value 'wins'.  For the snippet I gave above, that particular DAS is the DP1 component of a 3-channel Texan, and in the array table receiver_table_n_i=1 (doesn't match) and response_table_n_i=0 (does matc

[2020-03-11 15:39] nick-falco commented on #386
From what I can tell, there are two code paths in `ph5api` for reading the das table:

`ph5api.query_das_t` : : https://github.com/PIC-IRIS/PH5/blob/master/ph5/core/ph5api.py#L765

`ph5api.filter_das_t` : : https://github.com/PIC-IRIS/PH5/blob/master/ph5/core/ph5api.py#L1885

I think part of the problem is that the `ph5api.query_das_t` method accesses the Das_t tables directly, while `ph5api.filte

[2020-03-27 19:51] damhuonglan opened #390 "[BUG]"
**Describe the bug**
Tool metadatatoph5 creates response_t with response_file_das_a including info of both das model and sensor model while response_file_sensor_a has no info

**To Reproduce**
Run metadatatohp5 using ph5/test_data/metadata/station.xml
metadatatoph5 -n master.ph5 -f metadata/station.xml
This will create response_t and array_t

Look in [response_t](https://github.com/PIC-IRIS/PH5/fi

[2020-03-27 19:57] damhuonglan commented on #390
@akram-pic @ascire-pic: When should response n_i should be -1. I currently don't implement n_i=-1 in resp_load. I need this part to be clarified to put in resp_load.

[2020-04-01 15:02] ascire-pic commented on #390
@damhuonglan Honestly I don't know when response_n_i should be -1. I do not believe I have ever seen it as -1 in any of the PH5s I have built. It normally starts at 0 and increases from there. I have not used metadata to PH5 very much though.

[2020-04-01 16:28] nick-falco commented on #390
@damhuonglan I'd have to look at the code, but I think you use -1 for LOG channels that don't have an instrument response.

[2020-04-02 22:14] damhuonglan commented on #390
@nick-falco Thanks Nick. I've just looked at the metadatatoph5.py code and see that:
+ With LOG channels, array's channel_number_i will be -2 (line 201). There is nothing with response's n_i here.
+ With channel that has no response (line 286) or with response_stages<=0  (line 281), response's n_i=-1. I don't know what is response_stages here. But anyway with response's n_i=-1, I don't have to car

[2020-04-03 21:55] damhuonglan commented on #390
@ascire-pic Can you have a look at station.xml please? It only have one response tag for each channel. Maybe it's the reason for having the response das and sensor combine together. In another hand, this is not a bug? In your experience, do you think a response entry with response_file_das_a= "/Experiment_g/Responses_g/Q330_CMG3T_200HHN" and response_file_sensor_a="" is acceptable?

[2020-04-06 20:17] akram-pic opened #392 "[BUG]ph5.clients.ph5tostationxml - ERROR: list index out of range"
**Describe the bug**
I am in “ph51” and  have created a ph5 archive out of a node dataset. At the last stage, when I create a test XML, I get this error:

ph5tostationxml -n master.ph5 -p ~/Desktop/ph51/Working/Playa2/PH5/Sigma/ --level=network -f TEXT
[2020-04-06 19:40:37,933] - ph5.clients.ph5tostationxml - ERROR: list index out of range

I am running this while being in the Sigma directory, I g

[2020-04-07 19:23] damhuonglan commented on #390
After talking with Alissa, this is not a bug.

[2020-04-07 19:23] #390 closed

[2020-04-08 19:27] hrotman-pic opened #393 "[BUG] segdtoph5 command line not following user input"
**Describe the bug**
When adding new .fcnt files to an existing node archive, segdtoph5 does not create mini files starting at the specified mini and may not create the specified number of additional mini files.  Commonly, the data gets appended to existing mini files in what appears to be an unpredictable order.  This is undesirable for adding service runs.
segdtoph5 also does not accept immediat

[2020-04-08 23:26] nick-falco opened #394 "[FEATURE] Add GeoCSV output format to ph5toms"
**Is your feature request related to a problem? Please describe.**
The RESIF datacenter is adding a ph5ws-dataselect web service to there service stack, and has requested the ability to write GeoCSV from ph5toms.

**Describe the solution you'd like**
The IRIS ph5ws-dataselect service is already capable of writing GeoCSV. Attached is a copy of the code for doing this. The solution would be to just

[2020-04-14 16:44] hrotman-pic commented on #330
A sensor name GS-11D was ok'd by noven, saved in a kef, and is still showing as GS-11D in the stationXML from PH5.  Does that mean this issue is resolved?

[2020-04-15 20:59] hrotman-pic opened #395 "[BUG] seg2toph5, time increasing to finish each file"
**Describe the bug**
Using the command line for seg2toph5, the time needed to finish updating external references increases significantly with each file in a way that is noticeable after only a few files.  The most relevant parts of the seg2toph5.log:
[code]

**Environment (please complete the following information):**
 - OS: ph51
 - Program Version: seg2toph5 2019.42

**To Reproduce**
`seg2toph5

[2020-04-15 22:17] dsentinel commented on #395
Thanks @hrotman-pic

[2020-04-20 20:49] dsentinel commented on #395
@hrotman-pic , did Mark mention a solution with obspy2ph5?

[2020-04-20 21:07] hrotman-pic commented on #395
The updating external references didn't slow and hang with obspy2ph5 like seg2toph5.

[2020-04-21 20:07] dsentinel commented on #393
Let look at making a more general merge tool for :
 1 adding a service run
 2 merging 2 different ph5's i.e. 2 distince metadata and data sets

[2020-04-21 20:29] hrotman-pic commented on #393
I wonder if there's something from ph5_merge_helper that would assist with those items?  Never used it, uncertain of how functional it was when used.

[2020-04-22 16:44] dsentinel commented on #393
That's a good thought... I vaguely remember that process was also pretty manual, but I've never used it.

[2020-04-24 00:25] #360 closed

[2020-04-28 19:05] dsentinel opened #397 "Stop removing scaling factor / bit weight from fairfield fcnt segd data"
Currently:
 - Fairfield extraction software produces data in milliVolts, removing the bit weight.
 - PH5 undoes this operation on ingestion storing the data in raw counts.

Recently (Feb 2020) the NRL includes responses for Fairfield nodes that assume the data has the scaling factor applied as is after the extraction. Thus if data is ingested with ph5 with the scaling factor removed loading the NR

[2020-05-04 14:56] hrotman-pic opened #398 "[BUG] ph5 validate not giving error when no response"
**Describe the bug**
ph5_validate is no longer providing an error when a response is not referenced for a station-channel combination.

**Environment (please complete the following information):**
Possibly restricted to most recent ph5 updates at both PIC and DMC.

**To Reproduce**
Run ph5_validate on any archive that either does not have responses loaded or has response_table_n_i pointing at an i

[2020-05-08 21:49] timronan opened #399 "[BUG] Worker parallelization is suspect; keyboard interupt only kills one worker not entire process"
**Describe the bug**
When running  `ph5tostationxml -p ./ -n master.ph5 --level response > all_stations.xml` a keyboard interrupt only kill one worker process and does not kill the main process that is spawning/controlling the worker. If a process is interrupted and a worker is killed how is it guaranteed that the worker's job is completed? Is this how the parallelization logic works across PH5?

[2020-05-12 00:43] dsentinel commented on #399
This is unexpected behavior. I'm also curious why this would be optimized with parallel processes. Does extracting a StaXML take so long?

[2020-05-13 21:38] akram-pic opened #401 "[BUG] time_t does not reflect time/drift when same texan is used in multiple deployment"
**Describe the bug**
Time_t (/Experiment_g/Receivers_g/Time_t) is created by running 'time_kef_gen' to apply drift correction specifically for the rt125 (Texans). This table reports the time stamp, drift rate, and time correction by reading it from the raw TRD files (native texan).

However, in case where multiple TRD files exist with the same serial number (from multiple deployments), PH5 fails t

[2020-05-14 15:09] damhuonglan commented on #369
close after PR#371 was merged.

[2020-05-14 15:09] #369 closed

[2020-05-14 22:03] hrotman-pic commented on #395
Good news for comparison: I found the seg2toph5 log for TIME.  Some files at the start appear to have been added in separate seg2toph5 commands, unlike the original post example.

Some relevant parts:
[2019-02-20 17:38:21,871] - ph5.utilities.seg2toph5 - INFO: Processing: ../shots_seg2/1007.dat...
[2019-02-20 17:38:31,091] - ph5.utilities.seg2toph5 - INFO: Updating external references...
[2019-02-

[2020-05-20 19:40] damhuonglan commented on #334
Request 1 has been fixed and merge. Still need to work on ph5tostationxml and ph5validate before this issue can be closed.

[2020-05-20 23:40] timronan opened #402 "[BUG]ph5tostationxml maps kef:seed_station_name_s to stationxml:station:code based on Geographic Coordinates"
**Describe the bug**
ph5tostationxml maps kef:seed_station_name_s to stationxml:station:code based on geographic coordinates rather than time span. Typos in the coordinates can lead to output stationxml files that have multiple stations with the same code and epoch. This violates rule 211 of the stationxml validator.

This is also important because it is feasible to have a channel that has differe

[2020-05-21 20:58] timronan commented on #399
I am not sure how long it takes to map between stationxml and kef. It seems to be dependent on the size of the metadata. Is the parallel logic embedded in more functions than ph5tostationxml? It doesn't seem like the parallel processing should be removed from ph5tostationxml, it just seems like the system that manages the parallel processes needs to be fixed to kill all of processes when one proce

[2020-05-22 14:16] damhuonglan commented on #363
Will need to add this check for ph5validate as well.

[2020-05-29 17:33] damhuonglan commented on #398
Might be related to PR #383

[2020-06-01 16:46] hrotman-pic commented on #398
I'm confused: this bug might be addressed in that PR?

[2020-06-01 16:50] damhuonglan commented on #398
In that PR, ph5_vadilate gives an error message if ph5 has no response. Please checkout branch i334_validate_err_resp to test it.

[2020-06-01 17:00] hrotman-pic commented on #398
Oh!  OK.  Thank you, that's great.  I think we can leave this issue on hold until that PR is merged, and after it is merged I can close this issue?

[2020-06-01 17:03] damhuonglan commented on #398
Yes, we only close the issue after we merge the branch to master. But please test so we know if it solves this issue or not. Thank you

[2020-06-03 22:42] timronan commented on #402
I updated the test so the attached zip file now only contains one master and one mini ph5 files. Please run ph5tostationxml and the stationxml-validator-1.7.0 and a 111 error will be output. This demonstrates that PH5 is generating station level metadata based on the geographic location of a channel rather than the kef:seed_station_name_s and the time span of the data.

Please run ph5tokef to veri

[2020-06-03 22:57] dsentinel commented on #402
Seems legit. Are you going to be able to tackle this? Now that Nick is gone who is going to assume the service/output side of PH5?

[2020-06-04 18:46] timronan commented on #402
I will look into it. I am a little bit worried about this issue because it may embedded in the core logic of at least  ph5tostationxml. I will report after getting a better understanding of the issue.

[2020-06-05 23:15] timronan commented on #402
If the logic in ph5.clients.ph5tostationxml.get_station_key (line 233) was updated from

[code]
to
[code]
than channels correctly associate with their parent station (stations are not duplicated), but we cannot determine which of the channel coordinate sets should be assigned to the parent station.

Station and channel level coordinates should be independent of one another in seismic metadata, but

[2020-06-09 22:00] damhuonglan opened #403 "[BUG] list index out of range when there are repeated station in array table"
**Describe the bug**
There was a reported bug on pforma that duplicate some stations in array_t (#360). It has been fixed in PR #361. However, there are still experiments with stations duplicated.

The old ph5_validate didn't have any problem with this issue. But with the current ph5_validate the duplicated stations will cause error "list index out of range".

**To Reproduce**
Experiment with dupl

[2020-06-09 22:28] dsentinel commented on #403
If I understand, this is not a bug in the software, but some old PH5's are malformed?

[2020-06-10 16:28] damhuonglan opened #405 "[BUG] List index out of range in ph5tostationxml when there is no experiment_t in ph5"
**Describe the bug**
According to Akram email on 04/06/20 email, she ran to error "list index out of range" when running ph5tostationxml. This causes by the following:

- ph5tostationxml was written to look for all master.ph5 (nickname) under the given path even in sub-directories. In this case it look for backup/, test/ directories beside the main directory. I recommend to change it so it look in

[2020-06-10 16:31] #405 closed, assigned to nobody

[2020-06-11 23:18] timronan commented on #403
@damhuonglan the *malformed* PH5s stored at IRIS DMC may, and likely do, have errors. We set up a backdoor in our loader software to load historic  PH5 metadata regardless of its ability to pass the stationxml validator. We had to do this during the PH5 metadata migration because there are a significant portion of historical PH5 expirments that don't pass validation. Duplicated stations lead to 11

[2020-06-15 00:14] dsentinel commented on #403
The PR's have fixed the issue, but not for the data in the archive. I'm leaving this open.

[2020-06-15 00:18] #392 closed

[2020-06-15 16:34] timronan commented on #402
Are there any thoughts on how to address this issue?

[2020-06-15 21:43] hrotman-pic opened #407 "[BUG]segdtoph5 command line processing time per segment has increased"
**Describe the bug**
Last fall I added nearly 600 GB of 500 sps data to a PH5 with segdtoph5 command line and it took about 3 days.  In April I added ~480 GB of 250 sps data to a PH5 with segdtoph5 command line and it took nearly 11 days.  Both data sets had trace segments of 30 min and had no combining of traces.  The time did not appear to increase dramatically per file, but was consistently lon

[2020-06-16 16:32] dsentinel commented on #402
@timronan , I haven' had a chance to dive into this. You're welcome to create a PR to address.

I don't think that changing the PH5 structure would be a good idea at this point, with the plans to develop a more general HDF5 format for seismic and other data, to address this and other issues.

Would it be possible to change the library such that it doesn't map based on location, but on the seed cod

[2020-06-16 16:54] timronan commented on #402
PH5 already uses the SEED codes and the epoch from the array table. The problem is that we can't determine which latitude and longitude need to be assigned to the station that would adopt multiple channels. We may end up with a station with incorrect coordinates.

[2020-06-19 17:50] ascire-pic opened #409 "[BUG] mstoph5 not correctly adding data to ph5 archive"
mstoph5 was used to added miniseed format data to a PH5 archive. The data in question was the 2000sps SmartSolo shakedown data. The original miniseed data was 47Gb but the resulting ph5 archive was only 2Gb. mstoph5 appeared to run correctly based on the logs:
[mstoph5-log.txt](https://github.com/PIC-IRIS/PH5/files/4806017/mstoph5-log.txt)

The DAS tables have the correct number of samples (~6 hou

[2020-06-22 15:38] dsentinel commented on #409
My first guess would be that ms2ph5 can not handle floating point encoded ms.

[2020-06-22 16:33] #363 closed

[2020-06-22 23:00] ascire-pic commented on #409
Just ran mstoph5 on data at sps 1Hz and 100Hz from a Q330 and the data look correct when writing back out from the PH5. So if the SmartSolo data are encoded differently that might explain the problem.

[2020-06-29 14:56] jschaeff opened #410 "[BUG] ph5tostationxml regression"
**Describe the bug**
With ph5tostationxml installed from commit 5c60ad8c74e7d27802964c41a4d5771d8befbfc5 the script works fine.
With ph5tostationxml from commit f43f12f052081f148536f02c7575914504ce2824 the script complains for every channel:
[code]

**Environment (please complete the following information):**
 - OS: Centos7

**To Reproduce**
Steps to reproduce the behavior:
On the cloned source re

[2020-06-29 16:05] dsentinel commented on #410
Thanks for the report @jschaeff ,
Error and warning reporting has been worked on, and has hopefully only improved.
This is only a warning, and is useful to let users know that they may not have locations for channels. Does this disrupt your workflow?

@damhuonglan,  why "Hit Enter... to continue"? I don't think we want this, should probably revert.

[2020-06-29 16:27] damhuonglan commented on #410
I can revert. The reason I did that because xml is too long, and I need to scroll up to see the errors and warning list before that.

[2020-06-30 06:52] jschaeff commented on #410
Thanks for the quick response.
@dsentinel yes the warning is an improvement, I understand now. The PH5 archive has locations on the stations, but not on the channels, I guess. I'll check this with my coworker.

[2020-06-30 15:10] timronan commented on #410
Why is it disallowed for a channel to have a longitude=0? Zero is a real longitude on the Earth's surface and both stations and channels should have latitude and longitude information even if it required to be identical. See  issue #402.

Could it be possible to compile a report of the warnings after the script is run. Or exit on a warning. Hitting enter for every channel that throws a warning see

[2020-06-30 15:25] damhuonglan commented on #410
This happens because I combine validation in ph5validate and ph5tostationxml. The code in ph5validate checked latitude and longitude=0 and ask user about it. I will check with DataGroup about this to decide about reverting. Thanks for your comment.

[2020-06-30 15:52] dsentinel commented on #410
The pause was a mistake and is to be removed.

Perhaps the warning is too and can be removed. It's not disallowed, it just warns, probably because it's likely this is the default and never set.

[2020-07-07 08:25] jt38 opened #413 "[FEATURE] Add location option to ph5toms"
**Is your feature request related to a problem? Please describe.**
ph5toms provides options to filter exported data by networks, stations and SEED channels but not SEED locations.

**Describe the solution you'd like**
Allowing to filter data by location by providing a command line option to ph5toms.

[2020-07-16 19:17] timronan opened #416 "[BUG] ph5availability is inconsistent with stored time series data"
**Describe the bug**
the ph5availabilty function outputs a result that is inconsistent with the timeseries data stored in a ph5expirment.

**Environment (please complete the following information):**
 - Centos 7
 - Program Version [ph5toms 2018.268]
 - Version: 2019.101 ph5availability

**To Reproduce**
Track the time series data using ph5toms. Add a print statement to line 215 in ph5toms
print(s)

[2020-07-16 21:59] damhuonglan commented on #401
@dsentinel In the last PH5 meeting, I asked DG to have some very small data that reflect this circumstances for unittest. However they said that they cannot create that but I can use the data that they encountered the problem at in the link above because they are quite small. I check that and see that I can use two raw data files, the size of each is 13.5MB. Do you think they are small enough for

[2020-07-16 22:54] dsentinel commented on #401
That's too big for unit tests. Can you chop the data down to a smaller size?

[2020-07-16 23:03] damhuonglan commented on #401
I don't know how to change raw data file. @akram-pic Do you have a way to chop the data down to a smaller size?

[2020-07-17 14:04] damhuonglan commented on #401
@akram-pic I found a way to add soh data to ph5 without using raw data. You don't have to worry about this.

[2020-07-17 23:17] timronan commented on #416
It seems that the DAS table field sample_count_i  is not guaranteed to reflect the amount of samples that are present in the raw time series data that the metadata represents. ph5api.get_availability calculates the availability extents based on the das table's sample_count_i  field rather than the number of samples and sample rate of the raw time series data.

The availability issue could be solve

[2020-07-17 23:43] timronan opened #417 "[BUG] ph5api.cut should exit with error or skip trace if data assigned to none type is encountered"
**Describe the bug**
ph5api.cut exits with the message ` ERROR: object of type 'NoneType' has no len()` it if called on data segment that contains gaps. This error message is confusing and should be replaced with a concise message that explains why the program is exiting or the gap should be skipped and the next gap should be cut.

**Environment (please complete the following information):**
 - ph

[2020-07-21 00:07] dsentinel commented on #416
Yikes! This does highlight trust issues.
Is this related to time_correction, or apply to all data, with corrections or not?

[2020-07-24 17:58] dylanmikesell commented on #413
I would like to bump this feature request/enhancement. We have a seismo-acoustic experiment in Idaho that we are archiving as PH5. Location IDs are going to be heavily utilized in this archive because in addition to colocated seismic and acoustic sensors, the acoustic sensors are actually small arrays with location ID ranging from 00 to 20.

[2020-07-30 20:02] damhuonglan commented on #393
I have done a research on segdtoph5 and this is the way it currently works:

- Option -S (FIRST_MINI) is to identify the very first miniPH5_XXXXX.ph5 on the first run
- If the serial number already in a mini file, data will be write to that file
- if serial number isn't in any minifile, get the HIGHEST_MINI file and check the following:
   - If option M (NUM_MINI) is used:
      - (HIGHEST_MINI -

[2020-07-31 16:58] hrotman-pic commented on #402
If a PH5 archive contains stations that have individual sensors located at slightly different (still within the 1 km traditional SEED convention) coordinates, where sensors had the same time span, and each sensor had the same channel name and its own loc code (01, 02, etc.), it looks like current logic would output a stationXML in violation of rule 111?

[2020-07-31 18:02] timronan commented on #402
@hrotman-pic, yes if a kef file contains multiple channels with the same station information but with different coordinates, stationxml creates a station for each of the channels rather than combining the channels into one parent station. Having multiple stations with the same station code and epoch  leads to a 111 stationxml validation error. It is incorrect to duplicate station information in a

[2020-07-31 18:18] hrotman-pic commented on #402
Thanks, Tim.  I thought that's what would happen, but wanted to confirm.  There's an archive with stations like those I described in-progress.

[2020-07-31 18:33] timronan commented on #402
@hrotman-pic you should consider stopping that build, running ph5tostationxml on the current built metadata, and then validate the output stationxml. If that validator throws 111 errors on that experiment it probably should be archived in a format other than PH5.

[2020-07-31 18:39] hrotman-pic commented on #402
@timronan would you recommend that even if this issue is resolved by updating ph5tostationxml logic?

[2020-07-31 22:44] timronan opened #422 "[BUG] Multiple Failing Test Cases"
**Describe the bug**
When running runtests.py  there are multiple failed test. Making the PH5 test suite unreliable.

**Environment (please complete the following information):**
 - OS: MAC 10.15.5
 - Program Version runtest.py tip master branch

**To Reproduce**
Set up ph5 enviroment. Run `./runtest.py`

**Expected behavior**
All test should pass so new code can  be incorporated.

**Screenshots**

[2020-07-31 22:52] akram-pic commented on #401
I have tested time-kef-gen and randomly selected few texans and looked at the raw file, its time drift during the operation in multiple arrays, and the time-t from the bug fix. Time-t now reflects all of the texans, and their time drift while they have been deployed in multiple arrays (same texan in separate deployment at different times). time-t is correct now.

I have then extracted segy files (

[2020-08-03 17:10] ascire-pic commented on #393
I need to logic my way through all of it but overall it looks like it makes sense.

We might want to be able to override adding to an existing file if the serial number already exists. If you have a PH5 for 10 stations and then add more data for those stations after another service run, it will currently add to the existing mini files because the serial numbers already exist. However, if that orig

[2020-08-03 18:47] timronan opened #424 "[BUG] PH5 cannot extract timeseries data that exist in miniPH5 files"
**Describe the bug**
PH5 does not successfully extract time series data as ms even though the data exist in miniPH5 file. DAS tables seems to exist as well.

ph5toms returns nothing.

ph5 availability returns ph5.core.ph5api - WARNING: No Das table found for XXXXX for every station.

**Environment (please complete the following information):**
 - OS: Cetnos 7
 - Program Version
 ph5toms 2019.93
 p

[2020-08-05 19:06] hrotman-pic commented on #393
May I ask, then, that the help for segdtoph5 be updated to reflect the logic being used and to make it clear that some PH5 logic will override user input?  The current help makes it look like more behavior is under the user's control than is actually the case, and is misleading in its current form.

I'd like to note that I don't want the 'not a valid integer' error to be lost in the shuffle, espec

[2020-08-07 01:14] timronan commented on #424
Incorrect sample rates are being fed into the  lines 543-548 of

[code]
 sample_rate=actual_sample_rate values is coming from line 508:
[code]

and does not accurately reflect the sample rate in the DAS table. This sample rate is automatically set to 100 somewhere but I can't find out where it is happening.

The inaccuate sample rate is causing ph5toms to fail in two places:

[code]
line 512-516 c

[2020-08-07 20:10] timronan commented on #424
It is likely that getavailabilty is also affected by this issue.

[2020-08-14 19:01] timronan commented on #422
Travis CI uses different data to test than are included in the Github directory /PH5/ph5/test_data. All data sources need to be consistent so we can write test case that work both in the integration pipeline and on local machines. We have to have a consistent testing suit to make it valuable.
Travis CI Test Result when local test pass
<img width="1082" alt="Screen Shot 2020-08-14 at 11 47 02 AM" s

[2020-08-14 21:14] timronan commented on #413
I will look into this issue next week.

[2020-08-18 19:03] dsentinel commented on #422
Please don't post screen grabs of text.

I think you need to run `create_ph5.sh` before running tests

[2020-08-18 19:04] #422 closed

[2020-08-18 20:28] timronan commented on #422
Noted on both accounts. You are correct on running the 'create_ph5.sh' script. We should consider updating the [CONTRIBUTING.md]( https://github.com/PIC-IRIS/PH5/blob/master/CONTRIBUTING.md) document to reflect this. Currently, CONTRIBUTING.md states:

This should say something about the 'create_ph5.sh' script. Something similar to the sentence below could be added.

Another option could be to mak

[2020-09-09 16:42] ascire-pic commented on #393
I believe we should make similar changes to the other data ingestion commands:

- mstoph5
- 130toph5
- seg2toph5
- 125atoph5

All data ingestion commands should have similar options to the new functionality in segdtoph5 for appending to an existing PH5.

[2020-09-17 19:10] #417 closed

[2020-09-18 17:18] #401 closed

[2020-09-18 17:26] #409 closed

[2020-10-05 21:50] timronan opened #430 "[BUG] resp_load seems to nuke a master.ph5 file without replacing it's contents"
**Describe the bug**
Although resp_load has very minimal documentation making it very hard to know how it should work, resp_load seems to not work as we would expect. PH5 experiment 19-028 was delivered with no response information so @timronan tried to update the PH5 metadata using the included RESP file and included input.csv document. The input.csv document was compiled using a combination of i

[2020-10-05 21:51] timronan opened #431 "[BUG] Resp_Load seems to not work as expected"
**Describe the bug**
Although resp_load has very minimal documentation making it very hard to know how it should work, resp_load seems to not work as we would expect. PH5 experiment 19-028 was delivered with no response information so @timronan tried to update the PH5 metadata using the included RESP file and included input.csv document. The input.csv document was compiled using a combination of i

[2020-10-05 21:53] timronan commented on #431
Replication of issue issue #430

[2020-10-05 21:53] #431 closed

[2020-10-06 16:18] #430 closed

[2020-10-08 23:36] timronan opened #432 "[BUG] ph5tostationxml outputs stationxml that is does not comply with the stationxml xsd schema"
**Describe the bug**
Ph5tostationxml outputs stationxml that is does not comply with the stationxml xsd schema.

Specifically the field :
<Created>2020-10-08 21:58:09.039103</Created>

Is formatted incorrectly.

It should at least have a T inbetween the day and hour, similar to:
<Created>2020-10-08T21:58:09.039103</Created>

This bug can be quickly addressed by changing the format
created=datetime

[2020-10-09 16:48] nick-falco commented on #432
@timronan I think the correct date string format should be:

[code]

Note the `.%f` at the end of the date string.

[code]

[2020-10-09 16:53] timronan commented on #432
@nick-falco thanks for the catch.

[2020-10-09 17:02] nick-falco commented on #432
Actually it may be better to use the Obspy UTCDateTime class instead and also put a "Z" at the end of the format string. I think the times should be in UTC.

[2020-10-12 17:58] damhuonglan commented on #399
@timronan Does this still happen any more?

[2020-10-13 14:59] hrotman-pic opened #433 "Modifications to ph5_validate checks"
This issue is to request changes to things that ph5_validate checks.  I will organize by category.  This is from the list that @damhuonglan researched.

Experiment_t:
Nickname not found is currently a warning.  Request change to error since the nickname is used to name SEGY files written with ph5toevt.

Array_t:
'Station ID not between 0 and 65535' and 'Station ID not a whole number between 0 and

[2020-10-13 19:10] ascire-pic commented on #432
@timronan Are you planning to work on this issue?

[2020-10-13 19:25] ascire-pic commented on #407
Current not reproducible; closing the issue report until the problem reoccurs

[2020-10-13 19:25] #407 closed

[2020-10-13 21:45] timronan commented on #432
@ascire-pic I can fix this issue but I need to finish all of my outstanding projects before I start on this one. There may be a delay before I can work on this patch.

[2020-10-13 21:47] ascire-pic commented on #432
Sounds good! Was looking through the open issues and just wanted to check.

[2020-10-19 20:56] damhuonglan commented on #433
Only one of these will be reported. The first one is checking for the number in between 0 and 65535, error may occur when station id contains any letters or special characters, then the later will be reported. I don't think we should try to combine them.

[2020-10-20 17:33] hrotman-pic commented on #433
@ascire-pic and @akram-pic, would you please take a look at the list of changes and see if you have any suggestions or clarifications?

[2020-10-20 17:52] ascire-pic commented on #381
Based on the previous comment, it sounds like the original issue with pforma not loading some fcnt files has been worked around, if not solved. Based on this, I'm closing this issue.

If problems with the newest build occur, a new issue should be opened.

[2020-10-20 17:52] #381 closed

[2020-10-20 17:54] ascire-pic commented on #375
Currently do not have enough information to follow up on this issue and nothing similar has been reported by other users. Based on that, I'm going to close the issue for now. Please re-open the issue and supply some example data to help track it down if the problem reoccurs.

[2020-10-20 17:54] #375 closed

[2020-10-20 17:55] ascire-pic commented on #348
Issue is being closed due to shifting development efforts to GeoHDF.

[2020-10-20 17:56] ascire-pic commented on #347
Issue is being closed due to shifting development efforts to GeoHDF.

[2020-10-20 17:56] #347 closed

[2020-10-20 17:56] ascire-pic commented on #331
Issue is being closed due to shifting development efforts to GeoHDF.

[2020-10-20 17:56] #331 closed

[2020-10-20 19:44] akram-pic commented on #210
It will be useful to update the event metadata/array so that seismic event type could be defined and described.
Some standard source/event in active source seismic data are: hammer shot (vertical, shear), PEG, explosives, or a vibroseis truck.
If the shot source is a vibroseis truck, it will also be helpful to store the seismic source, aka chirp, within the PH5 archive. This chirp is an important

[2020-10-21 15:05] damhuonglan commented on #433
This is currently an an error in ph5_validate log file. I will change it to warning for consistency.

[2020-10-23 21:27] gbbofh commented on #432
@timronan  I can start on a pull request to fix this if you haven't started working on it yet.

[2020-10-23 21:43] timronan commented on #432
@gbbofh please start this PR. Thew fix seems to be outlined in this issue.

[2020-10-23 22:06] ascire-pic commented on #330
Tested again using same csv file where this issue was previously observed. Noven behaved as expected and I was able to create a kef file that I then loaded into a PH5 archive without any issues. Will close issue as it appears to have been resolved.

[2020-10-23 22:06] #330 closed

[2020-10-23 22:11] ascire-pic commented on #301
Current plan is to integrate this utility into PASSOFT instead of into PH5. As a result, will close this issue since it is no longer relevant to PH5.

[2020-10-23 22:11] #301 closed

[2020-10-23 22:14] ascire-pic commented on #293
Wavefields (YW) PH5 has been replaced with an updated version in July 2019. As a result, the LH* channels are now accessible as they have the correct metadata.

[2020-10-23 22:14] #293 closed

[2020-10-23 22:15] ascire-pic commented on #292
Wavefields (YW) PH5 has been replaced with an updated version in July 2019. As a result the VM* and HH* channels are now correct.

[2020-10-23 22:15] #292 closed

[2020-10-23 22:15] ascire-pic commented on #283
Good test data has been located and integrated into the testing environment.

[2020-10-23 22:15] #283 closed

[2020-10-23 22:16] ascire-pic commented on #282
Appropriate unit tests are being created as changes are being implemented. As a result, I am closing this issue since unit tests are no longer being implemented as described in this issue.

[2020-10-23 22:16] #282 closed

[2020-10-23 22:17] ascire-pic commented on #218
Closing this issue due to beginning development of GeoHDF

[2020-10-23 22:17] #218 closed

[2020-10-23 22:18] ascire-pic commented on #215
Closing this issue due to beginning development of GeoHDF

[2020-10-23 22:18] #215 closed

[2020-10-23 22:19] ascire-pic commented on #94
Issue is being addressed in station web service development rather than within the PH5 framework. Closing this issue as the functionality is being implemented outside of PH5.

[2020-10-23 22:19] #94 closed

[2020-10-23 22:19] ascire-pic commented on #88
Closing this issue due to beginning development of GeoHDF

[2020-10-23 22:19] #88 closed

[2020-10-23 22:20] ascire-pic commented on #63
Closing this issue due to beginning development of GeoHDF

[2020-10-23 22:20] #63 closed

[2020-10-23 22:20] ascire-pic commented on #68
Closing this issue due to beginning development of GeoHDF

[2020-10-23 22:20] #68 closed

[2020-10-23 22:25] ascire-pic commented on #172
Related to issue #210

Event type is not a field that is currently recorded in PH5. Would need to add type to the event metadata/shot table

[2020-10-26 13:49] gbbofh commented on #432
@timronan I should have a PR fixing this issue up later today.

[2020-10-27 17:01] timronan commented on #432
@gbbofh sounds good. I will review the PR when it is posted.

[2020-10-27 22:35] damhuonglan commented on #398
solved in PR#383

[2020-11-25 16:21] timronan commented on #424
This issue has been closed by merging pull request #427

[2020-11-25 16:21] #424 closed

[2020-11-25 18:02] timronan opened #441 "Consider Changing the Merge Protocol to Use a Squash and Merge rather than a standard Merge."
We should consider squash and merging the PH5 pull request that are being integrated in the master branch, or at least clarify a merging procedure for PH5. There doesn't seems to be a standardized protocol on how pull request should be merged into the master branch and this may eventually lead to confusions or a disorganized repository.

I am recommending a squash and merge procedure because it ke

[2020-12-15 23:32] timronan opened #443 "[BUG] Translation errors occures when executing PH5toStationxml on PH5 data sets with non-identical response_table_n_i fields"
**Describe the bug**
Pull Request #383 introduced a bug that sometimes outputs stationxml files without response information when PH5toStationMXL is executed. Stationxml files with truncated responses are returned when PH5toStationXML is executed on PH5 expirments that have non-identical strings in response_table_n_i fields that are present in both the Sorts[DAS] table and the array table.
Pull Re

[2020-12-16 20:38] timronan commented on #443
Response information is not included in output stationxml files when this error message occurs. This error message suggest that response information is present in the PH5 archive but there a metadata inconsistency between two tables. PH5toSTationXML must output response information in these cases. The data should not be truncated.
[code]

[2020-12-19 01:07] timronan commented on #443
Branch fix_443 has been opened to address this issue.

[2020-12-21 17:31] #441 closed

[2020-12-21 22:13] timronan commented on #204
It seems like it may be fairly difficult and dangerous to perform this broad of a refactoring project on ph5. It seems like it makes more sense to do a variable type translation when migrating to a different data format.

This should be considered low a low priority issue

[2020-12-21 22:39] timronan commented on #207
Although python 2.X is [depreciated](https://www.python.org/doc/sunset-python-2/), it does not seem worth the effort to update PH5 to python 3 unless the update becomes necessary to migrate the data out of PH5. If there is a specific reason to migrate to python 3 this issue can be revisited, but should be considered low priority until we find a justification for this effort.

[2020-12-21 23:29] timronan commented on #266
This is a good idea that should be considered in the GeoHDF project, but this enhancement should probably not be made in PH5.

[2020-12-21 23:34] timronan commented on #289
This is being handled by  MTH5 https://mth5.readthedocs.io/en/tables/index.html and a different group.

[2020-12-21 23:34] #289 closed

[2020-12-21 23:35] timronan commented on #288
I am not sure of the purpose for this specific test. Are there any insights into why this test should be written?

[2020-12-21 23:39] timronan commented on #300
At @ascire-pic do you know approximately when the log file function was disabled? Maybe we could use part of the old code. This could point to potential issues in the data format.

[2020-12-21 23:46] timronan commented on #394
For now, this should be considered low priority.

[2020-12-21 23:48] timronan commented on #402
This data format decision seems unfixable but this issue should be left posted as a travelers advisory.

[2020-12-21 23:51] timronan commented on #399
This issue is none important and easily mitigated.

[2020-12-21 23:51] #399 closed

[2020-12-21 23:52] timronan commented on #443
The rollback on fix_443 is a temporary fix for this issue so some tags have been removed.

[2020-12-22 00:00] timronan commented on #413
Is this an important issue? Do ph5 datasets use location codes?

[2020-12-22 00:03] timronan commented on #189
This additional field seems like it should be potentially addressed in GeoHDF.

[2020-12-22 00:07] nick-falco commented on #413
The issue with PH5's lack of location code support is because sometimes PIs have have an experiment that includes broadband data with location codes as well as geophone data. Because PH5 doesn't support location codes, the broadband data has to be archived as miniSEED and given a different network code.

[2020-12-22 00:09] timronan commented on #190
Should be considered in GeoHDF but is low priority for maintaining PH5.

[2020-12-22 00:21] timronan commented on #148
This ticket may be pointing towards a bug where data from a node that is deployed multiple times with different configurations, different epochs, cannot be be accessed because one of the node's configurations is being covered up by metadata information from the other configuration. Look in the DAS table for slight variants in a nodes serial number. A das table with multiple nodal serial numbers th

[2020-12-22 00:23] timronan commented on #2
PH5toSegy is no longer supported.

[2020-12-22 00:23] #2 closed

[2020-12-22 00:44] dylanmikesell commented on #413
So then is the recommendation to put nodal geophone data into the broadband seed archive if we have heterogeneous data like this? It seems to me that if the data were collected in the same region during the same campaign (and with the same sample rate), then they should have the same network code when that make sense.

[2020-12-22 18:27] timronan commented on #413
@dylanmikesell "data collected in the same region during the same campaign" should only be assigned one network code. Although experiments that contains both broad band and nodal data have historically been split between network codes, these splits have been reversed and these split experiments have been combined and assigned a consolidated network code. We have found that split data sets are diff

[2020-12-23 14:50] hrotman-pic commented on #398
Re-opening this since it was resolved in the same PR as issue 334 and may be affected by any rollback done to resolve issue 443.

[2020-12-23 16:51] ascire-pic commented on #300
@timronan I think it was disabled when miniseed output was added to web services at the DMC. It used to default to writing a log file, either to a text file or to the screen (can't recall right now) and that was removed to accommodate writing out miniseed via web services to keep the DMC from ending up with endless log text files every time someone requested data. I am interested in having the opt

[2020-12-23 18:21] timronan commented on #300
@ascire-pic it seems like a good idea to have a verbosity flag that will write a log file when executing ph5toms. It seems like this flag will help both users and developers trouble shoot ph5toms.

[2021-01-27 16:34] hrotman-pic commented on #386
I have a question about the proposed utility in #446  for fixing the DAS tables: will it make a copy of the original DAS tables (in case of a mistake)?  I think a previous utility to update the DAS tables (fix_3chan_texan) created a copy of the original DAS table for all DAS as well as a copy of the updated DAS table.

[2021-01-27 19:43] timronan commented on #386
@hrotman-pic can you make this comment in the pull request? I don't think it is s bad idea to make a duplicate of the DAS table if a program is going to alter it. It is an additional safety check.

[2021-01-28 17:15] yazan-iris opened #447 "/Experiment_g/Experiment_t/net_code_s"
What is /Experiment_g/Experiment_t/net_code_s, I understand its the network code, what is the impact of missing such field in a document?

[2021-01-28 17:40] nick-falco commented on #447
It's the FDSN network code. My guess is that the web service would fail on both metadata and data extraction if this was missing, but just a guess as I don't have the code in front of me. See the following document for column definitions of each table:

https://github.com/PIC-IRIS/PH5/wiki/PH5-Structure

[2021-01-29 16:53] timronan opened #448 "[BUG]"
**Describe the bug**
respload format: [das model][sample rate][sample rate multiplier][gain] and metadata format [das model][sensor model][sample rate][channel code] should be consistent and should write the same value to the response_file_das_a field. This written value should not contain additional characters.

[2021-01-29 16:59] timronan commented on #448
I am adding this issue as a bookmark. I don't necessarily think we need to fix this, but I want to make sure that we don't forget about it.

[2021-02-04 19:40] timronan commented on #448
After further thought and discussion in PR #445, this issue needs to be addressed. There should only be one acceptable format for `response_file_das_a` this format should be:
 [das model]_[sensor model]_[sample rate] [String][String][Int]
 unless there is a specific reason to not use this format.
Special characters including this list, [',' '-' '=' '.' '_' ' ' '/'], should be stripped from the fro

[2021-02-19 21:22] timronan commented on #386
This issue is resolved by merging PR #446 into the master branch.

[2021-02-19 21:22] #386 closed

[2021-02-23 20:21] #432 closed

[2021-03-10 18:24] hrotman-pic opened #450 "[BUG] ph5toevt does not work correctly for data ingested with mstoph5 (SmartSolo data)"
**Describe the bug**
ph5toevt does not populate headers and cannot create a readable SEGY gather for data ingested with mstoph5 from SmartSolo miniseed files.

**Environment (please complete the following information):**
 - OS:server ph52
 - Program Version ph5toevt 2019.66

**To Reproduce**
ph5toevt -n master.ph5 --starttime=2020:313:16:12:37.000 -A 001 -l 3 -o gather3
[2021-03-10 16:53:30,868] -

[2021-03-10 21:47] hrotman-pic commented on #450
stream_number_i=0 in the das tables for data ingested with mstoph5 where the miniseed was created with rt2ms.  I will attempt to clean up the associated archive (used for testing) and explore this some more.

[2021-03-12 15:36] hrotman-pic commented on #450
Modifying stream_number_i to 1 in the das tables (like das tables with a different ingestion method where the same ph5toevt option works), and modifying event_number_i to be nonzero and sequential (again, like other das tables) by themselves does not cause ph5toevt to work or change the error.

The solution may lie in a different direction.

[2021-03-12 19:52] timronan commented on #450
What experiment was this test run on? Which data are you referring too? This may be a problem in the data and not the software.

[2021-03-12 20:45] hrotman-pic commented on #450
I changed the das tables for a subset of data (2 DAS for 8 days) also loaded in PH5 21-002, and for a subset of SEED X6.2019 (both DAS, roughly 20 days).  The latter has been successfully archived.  For the former, I cannot see any problems with the native data.  The miniseed files ingested were created with two different methods: 21-002 is a data offload format for the SmartSolos, and X6.2019 was

[2021-03-12 21:22] timronan commented on #450
How do I reproduce the stack trace posted above? Was that generated using 21-002 or 21-002 or something different?

[2021-03-12 21:32] hrotman-pic commented on #450
The one I posted is from 21-002.  I believe the error is consistent across archives created with mstoph5 (which also requires using metadatatoph5).

[2021-03-12 21:41] timronan commented on #450
Thanks, for expirment 21-002 the data fails ph5tostationxml.

ph5tostationxml -p ./ -n master.ph5 --level response
[2021-03-12 21:34:27,218] - ph5.clients.ph5tostationxml - INFO: CHECKING ./master.ph5
[2021-03-12 21:34:28,025] - ph5.clients.ph5tostationxml - INFO: STATIONXML DATA CREATED FOR ./master.ph5
[2021-03-12 21:34:28,032] - ph5.clients.ph5tostationxml - ERROR: 'Frequency' object has no att

[2021-03-15 21:15] timronan commented on #450
This issue does not seem to be urgent or really a bug... it may be an enhancement. PH5toEVT seems to work on the data that has been accepted into the IRIS archive thus far.

[2021-03-25 23:48] timronan commented on #207
My previous comment was short sighted and likely incorrect. As stated by @El-minadero, failing to update PH5 out of a legacy Python version will greatly limit its users, and may end up making PH5 unusable before it's planned end of life. This issue needs be re-evaluated and is not an enhancement.

The upgrade from python 2 to python 3 is about maintaining control over the software that is actively

[2021-03-29 17:20] timronan commented on #207
It seems like Obspy may quit supporting python 2.

https://github.com/obspy/obspy/pull/2577
https://github.com/obspy/obspy/issues/2228

PH5 is dependent on Obspy and should likely stay in sync with this dependent library.

[2021-03-31 21:22] hrotman-pic opened #453 "seg2toph5 not working after server updates"
**Describe the bug**
Command-line and GUI seg2toph5 ingestion attempts result in an error like the following:
`[2021-03-31 14:29:53,702] - ph5.utilities.seg2toph5 - ERROR: list indices must be integers, not unicode. Can't process /external/ph5/Working/Holly_seg2_test/RAW/15001.dat`
I also got the same error with a few SEG-2 files that were used in the 18-030 PH5.

**Environment (please complete th

[2021-04-06 17:20] timronan commented on #207
Some documentation on how to support python 2 and python 3 simultaneously. https://docs.python.org/3/howto/pyporting.html

[2021-04-15 22:25] yazan-iris opened #455 "Sort Table"
What does it mean when Sort Table has many rows pointing to the same Array:

array.       |start time
-----------------------
Array-001|1506780000
Array-001|1506781800
.
.
.
.
.

[2021-04-21 21:37] hrotman-pic commented on #455
As far as I know, this is expected and means that there are multiple recording windows for that datalogger and/or multiple dataloggers (which usually means multiple stations) in the array.

[2021-04-22 15:20] ysuleiman opened #456 "Receiver_Groups Data_a_xxx"
Is the data in the Data_a_xxx table/dataset already decoded?  For example, do I need to Steim decoder?  My question is regarding the raw data and not the API.  So if I to extract the data, do I need to decode it.  Thanks

[2021-04-26 15:58] hrotman-pic commented on #398
Resolved by PR#445.

[2021-04-26 15:58] #398 closed

[2021-05-12 15:25] damhuonglan opened #458 "[BUG]Error when running create_ph5.sh"
**Describe the bug**
When reviewing one check failed on Travis_CI, I saw some errors happening when running create_ph5.sh. It wasn't the cause of the failed test, but it should be fixed:
[code]

[2021-05-12 15:46] damhuonglan commented on #458
@timronan You added this part in PR #445. I think you forgot to add folder `response_table_n_i_dup/` to `ph5/test_data/`.
It seems that the data created in `ph5/test_data/ph5/response_table_n_i_dup` are not used in unittest because I don't see unittest failed.
So can you please either add the folder `response_tabel_n_i_dup` or removed code from Lines 66 to 82? Thank you.
https://github.com/PIC-IRI

[2021-05-12 21:14] hrotman-pic commented on #453
@damhuonglan it looks like all the relevant PRs have been merged and this is solved.  Thank you again.  Should I close this?

[2021-05-12 21:15] hrotman-pic commented on #395
Resolved by #440.

[2021-05-12 21:15] #395 closed

[2021-05-12 21:17] damhuonglan commented on #453
@hrotman-pic Hold on. Maeva is updating PH52 server with Obspy 1.2.2 and PySide2. After that we will need you check PH52 once more to make sure everything ok. Then we can close this.

[2021-05-12 21:19] hrotman-pic commented on #453
@damhuonglan OK, I will wait.

[2021-05-12 21:26] hrotman-pic commented on #455
@yazan-iris based on the timestamp, the example you used is from 17-034.  Please email the PIC data group if you are seeing problems with PH5 17-034.

[2021-05-14 18:52] timronan commented on #458
@damhuonglan I just opened PR #459 and removed the code block as suggested. Let's verify that Travis CI passes. If it does this seems ready to be reviewed and merged. I know making a branch to solve this issue seems kind of heavy, but I didn't want to push directly into master.

[2021-05-14 20:53] timronan commented on #456
You likely will not need to do any decoding to access and manipulate Data_a_xxx table/datasets. The data sets are stored and extracted as int values and are seemingly not compressed.

Example:
[code]
returns:
<HDF5 dataset "Data_a_0001": shape (3000,), type "<i4">
numpy.int32

Further documentation can be found here: http://davis.lbl.gov/Manuals/HDF5-1.8.7/UG/11_Datatypes.html

[2021-05-18 15:40] damhuonglan commented on #458
@timronan It passed Travis CI so I approved and merged it. Thank you.

[2021-05-18 19:07] #456 closed

[2021-05-18 19:07] #455 closed

[2021-05-18 19:08] #458 closed

[2021-05-18 19:09] timronan commented on #458
Fixed by PR #459

[2021-05-18 19:09] #447 closed

[2021-05-18 19:12] #334 closed

[2021-05-20 16:19] timronan opened #460 "[BUG] ph5availability does not account for the metadata epochs"
**Describe the bug**
Make ph5availability account for the metadata epochs and truncate output availability information at the epoch start or endtime. The goal is to prevent available times outside of the metadata extent from being exposed via the availability services.

**Environment (please complete the following information):**
 - Program Version [ph5availability 2020.282]

**To Reproduce**
http

[2021-05-25 20:03] hrotman-pic commented on #453
seg2toph5 works in command line and pforma on ph52 after updates as well.

[2021-05-25 20:03] #453 closed

[2021-05-25 20:22] hrotman-pic commented on #410
It looks like this was resolved by #412 and #435 .

[2021-05-25 20:22] #410 closed

[2021-05-25 21:07] hrotman-pic commented on #433
Resolved by #435 .  Thank you again.

[2021-05-25 21:07] #433 closed

[2021-05-28 21:47] timronan opened #462 "[FEATURE] Add check from array table location/Z/units_s=Unknown"
**Is your feature request related to a problem? Please describe.**
Throw a warning from ph5_validate when array table location/Z/units_s = unknown.

**Describe the solution you'd like**
Throw a warning in ph5_validate.log that says "location/Z/units_s is set  unknown. Consider updating this unit to m."

**Describe alternatives you've considered**
Do nothing.

**Additional context**
Add an addition

[2021-05-28 23:01] hrotman-pic opened #464 "noven: modify keyboard shortcut, modify event check input"
**Request 1, remove duplicate shortcut:**
noven currently has Ctrl+C as a shortcut for both 'Check input' and 'Configure/Change Parameters', which prevents the shortcut from being used for either function.  Could the keyboard shortcuts for these be changed so they are not duplicates?

**Request 2: modify event check input:**
Currently, noven will fail a receiver (array) csv that has a station ID n

[2021-06-08 19:33] hrotman-pic opened #465 "[FEATURE] Make sure DAS serial number is always read as a string"
PH5 known to be affected: 09-006.

Type of PH5 likely to be affected: RT130.

In the validate output for this archive, there are references to DAS serial numbers like 9.00E+45, where the DAS serial number is actually 9E45.

If this is happening when messages are printed in validate, I request that DAS serial numbers be read as a string and not converted to scientific notation.

After thinking abou

[2021-06-15 19:49] hrotman-pic commented on #465
Modified request for this issue based on PH5 meeting: scientific notation is present at array table level.  Can ph5_validate produce an error for any DAS serial number containing the string `E+`?

[2021-06-15 20:00] hrotman-pic commented on #464
Related to #465 per today's meeting, I'm adding to this issue to request noven to fail any receiver csv with a DAS serial number field containing the string `E+` to prevent the same problem from occurring in the future.

[2021-06-29 18:46] timronan commented on #460
Closed by merging PR #461

[2021-07-01 22:11] hrotman-pic opened #469 "[BUG] ph5toms not writing some sac headers correctly"
**Describe the bug**
ph5toms is writing out SAC header CMPINC with SEED convention instead of SAC convention.
Examples from 20-001 extracted at PIC after PI inquired:
_DP1_
     CMPINC = 0.000000e+00
_DP2_
     CMPINC = 0.000000e+00
_DPZ_
     CMPINC = 9.000000e+01

In SAC, CMPINC is the "component incident angle (degrees from upward vertical)", which is different from the SEED convention of using

[2021-07-06 17:03] timronan commented on #469
@hrotman-pic can you please provide the exact command and experiment to reproduce the issue?

[2021-07-09 15:01] hrotman-pic commented on #469
Oops, sorry about that.  A few examples from different experiments.

20-001 (built late April 2021):
ph5toms -n master.ph5 -a 001,009 -s 2020-10-27T01:00:00 -t 2020-10-27T01:15:00 -o sac_test -F SAC

19-029 (built mid Dec. 2019):
ph5toms -n master.ph5 -a 001 -s 2019-12-02T05:00:00 -t 2019-12-02T05:15:00 -o sac_test -F SAC

19-015 (built late Sept. 2019):
ph5toms -n master.ph5 -a 001 -s 2019-07-16T

[2021-07-22 18:40] timronan opened #471 "[BUG]"
**Describe the bug**
PH5tostationxml is outputting stationxml files where Pole:Real:PlusError== Pole:Real:minusError==Pole:Real:Value and
Pole:Imaginary:PlusError== Pole:Imaginary:minusError==Pole:Imaginary:Value.

Here is an example:
              <Pole number="0">
                <Real minusError="-21.99" plusError="-21.99">-21.99</Real>
                <Imaginary minusError="22.43" plusError="2

[2021-07-22 18:43] timronan commented on #448
Has metadatatoph5 be depreciated?

[2021-07-27 18:57] ascire-pic opened #472 "[FEATURE] add support for SmartSolo SEGD data to pforma"
segdtoph5 has been updated to handle the SmartSolo SEGD data (PR 451). The next step in streamlining the handling of SmartSolo data ingestion into PH5 is parallelizing ingestion of SEGD data via pforma. Ingestion via command line is too slow to handle the demands of larger SmartSolo experiments. For example, ingesting 745 GB of SmartSolo data via the linear command line process took ~7 days. pform

[2021-07-27 18:57] #443 closed

[2021-07-28 22:01] damhuonglan opened #474 "[BUG] unsimpleton has error after #451"
**Describe the bug**
After segdreader has been changed for segdtoph5 work  with SmartSolo segd (#451), error happens when running unsimpleton:
[code]

**Environment (please complete the following information):**
 - OS: [e.g. Ubuntu 16.04]
 - Program Version [unsimpleton 2018.268]

**To Reproduce**
Run unsimpleton to a list of fcnt files to convert them to rg16 files
unsimpleton –f <fcnt_list_file>

[2021-07-31 00:48] timronan commented on #471
https://github.com/PIC-IRIS/PH5/blob/3f37169a9444ff787ae5913f277fa926665dd562/ph5/clients/ph5tostationxml.py#L469

Creates this issue and it is very likely occurring in the Obspy read_inventory.

If `response_file_das_a`, referenced on line 465,  is printed the result is as expected:

[code]

When `print(dl_resp.get_paz())` is added after line 470 and before line 471 the content below is returned:

[2021-08-02 15:38] ascire-pic opened #475 "[BUG] segdtoph5 with -U flag puts wrong description in array table for SmartSolo"
When running segdtoph5 for SmartSolo data, if the -U flag is included, the description in the array table is:
	location/description_s=Converted from UTM Zone 13N
Instead of:
        location/description_s=Read from SEG-D as is.

The location for SmartSolo data is not converted from UTM, making this description confusing. The -U flag is required for converting Fairfield data, and therefore will be

[2021-08-02 15:53] ascire-pic opened #476 "[BUG] segdtoph5 creating multiple array table entries for each station"
segdtoph5 is creating an array table entry for every file instead of creating one entry that covers the entire deployment of that Smartsolo.

For example: station 2060 (SmartSolo serial number 5477) was deployed from Sept 28 through Oct 8. The array tables has entries with the following deploy and pickup times for channels 1,2,3 (this is just a selection, there are more):
Deploy: Tue Sep 29 16:23:

[2021-08-02 19:08] #475 closed

[2021-08-10 20:47] timronan commented on #471
This issue is originating in and has been posted in Obspy with seemingly no way to directly correct it PH5.

[https://github.com/obspy/obspy/issues/2864](https://github.com/obspy/obspy/issues/2864)

I am unsure how to move forwards with this issue at this moment.

[2021-08-10 21:00] timronan commented on #460
Closed by PR #468

[2021-08-10 21:00] #460 closed

[2021-09-14 20:20] #474 closed

[2021-09-15 21:57] hrotman-pic opened #480 "[BUG] DAS table deletion seems to be affecting sort_kef_gen"
**Describe the bug**
Running sort_kef_gen -a on a PH5 with DAS tables that have been deleted (and not later reloaded) results in output:
Traceback (most recent call last):
  File "/home/ph5/anaconda3/envs/ph5/bin/sort_kef_gen", line 11, in <module>
    load_entry_point('ph5', 'console_scripts', 'sort_kef_gen')()
  File "/home/ph5/PH5/ph5/utilities/sort_kef_gen.py", line 370, in main
    if not rea

[2021-09-30 15:55] ascire-pic opened #483 "[BUG] SmartSolo software update changed lat/lon format"
Update to SmartSolo software changed the format of the latitude/longitude fields in the SEGD header. As a result, segdtoph5 and dumpsegd fail when trying to read the latitude/longitude values.

segdtoph5:
(ph5) ph5@ph5-2:/external/ph5/Working/test-alissa/Monahans_1000_Test$ segdtoph5 -n master.ph5 -f list-file -M 1
[2021-09-29 19:50:17,534] - ph5.utilities.segd2ph5 - INFO: segd2ph5 2021.159
[2021-

[2021-09-30 20:56] timronan commented on #480
If the DAS tables are deleted, but the indexes are in the DAS list, don't we want at least a warning to state this inconsistency so the DAS list can be cleaned up? This kind of seems like we are hiding a problem rather than dealing with it. Doesn't ph5_validate throw a warning for empty DAS tables? Is this because the DAS table does not exist but it's index is in the list?

What would need to be c

[2021-09-30 21:10] timronan commented on #476
@ascire-pic has this issue been resolved?

I am fairly positive the quote above will lead to invalid stationxml being output from the PH5 experiment. It seems like this issue breaks stationxml validation rule 111:

[2021-09-30 21:55] damhuonglan commented on #480
@timronan I've talked about this problem and planned for another PR to solve this. PR482 is a temporary fix to return the state how it works before we tried to check sample rate multiplier. Will work on PR for deleting all traces of das table if it is removed when I have time.

[2021-09-30 21:57] timronan commented on #480
Sounds good thanks for the confirmation.

[2021-10-01 16:41] timronan opened #485 "Smart Solo Data Formatted as PH5 Contains Duplicated Traces"
In expirment 21-002, 9N 2020, running:
`ph5toms -n master.ph5 -p . -s 2020-11-07T18:14:00 -t 2020-11-07T18:16:00 --station 8010 --channel GPZ`
leads to an output miniseed that contains:

9N.8010..GPZ | 2020-11-07T18:14:00.000000Z - 2020-11-07T18:15:59.999000Z | 1000.0 Hz, 120000 samples
9N.8010..GPZ | 2020-11-07T18:14:18.000000Z - 2020-11-07T18:15:59.999000Z | 1000.0 Hz, 102000 samples

This seems

[2021-10-05 18:52] ascire-pic commented on #476
Sorry, I wasn't clear in my description. If a second SmartSolo is deployed at that station location during a different time period (for example, the first SmartSolo is turned off and removed and is replaced by a new instrument with a full battery). You are correct that having two entries in the array table for the same station that overlap would throw a flag when validating the XML. If that happen

[2021-10-05 18:53] ascire-pic commented on #476
Issue resolved in PR 479 which is merged.

[2021-10-05 18:53] #476 closed

[2021-10-05 18:53] ascire-pic commented on #472
Resolved in PR 473 which is merged.

[2021-10-05 18:53] #472 closed

[2021-10-05 18:56] ascire-pic commented on #450
Closing this issue since we decided not to use mstoph5 to ingest SmartSolo data and instead modified segdtoph5 (see PR 451) to ingest data from the SmartSolos. As mstoph5 is on the list to remove from the code stack, closing this issue seems appropriate.

[2021-10-05 18:56] #450 closed

[2021-10-05 20:26] ascire-pic opened #486 "Remove mstoph5, metadatatoph5 from code stack"
Reminder to remove mstoph5 and metadatatoph5 from the PH5 code stack as well as any remaining mentions in the documentation. Both programs are being removed due to a number of bugs/issues with functionality plus incompatibilities with other PH5 programs.

[2021-10-20 17:57] ascire-pic opened #488 "[FEATURE] Optimize geo_kef_gen or modify to allow user to specify shot lines"
geo_kef_gen is being run on a data set with ~50,000 shots and 800 stations and is projected to take ~2.5 weeks to run. As of writing, the process has been running for 7.5 days, and 18/50 shot lines have been calculated.

In the current implementation, geo_kef_gen calculates source-to-receiver offsets for all the shot lines/station arrays without any sort of user control. That means that if a geo_k

[2021-11-16 22:18] ascire-pic opened #490 "[BUG] ph5_validate fix incorrect errors/warnings"
ph5_validate error checking for station/event IDs needs to be updated to be more accurate with respect to limitations imposed by SEGY Rev 1 for data output. SEGY Rev 1 should be the most restrictive data format that is used for data output, so limitations imposed on station/event IDs by that standard should also be compatible with other data output formats.

In addition, a bug was discovered wrt e

[2021-11-18 15:48] #483 closed

[2021-11-18 22:08] damhuonglan opened #492 "[FEATURE]Improve validation for noven"
noven appears to be insufficient in validating values added to array and event tables. Users thinks it should be helpful to catch as many as possible the errors when the values are entered so the effort and time to run commands between noven and ph5validate will not be wasteful.

**Current value checks in noven**

- Check if all required columns are present. Error message: Missing column <colName>

[2021-12-14 20:04] ascire-pic commented on #488
Fixed in PR #491

[2021-12-14 20:04] #488 closed

[2022-01-05 17:25] hrotman-pic opened #493 "[BUG] SmartSolo array table coordinate precision decreased"
**Describe the bug**
The latitude and longitude in degrees are rounded to 3 decimal places on the SmartSolo array tables.  Previously (in August 2021) there did not appear to be any rounding of coordinates.  I checked the original SEG-D headers and they do not appear rounded.  For example, it looks like SEG-D headers of:
IGU_GPS_lat_integer 34
IGU_GPS_lat_fraction 0.0918731689453
IGU_GPS_lon_integ

[2022-01-10 20:42] derick-hess commented on #493
Looks like it's a simple bug in ph5/core/segdreader_smartsolo.py

lines 160-163 specifically format it to 3 decimal places.

[2022-01-25 20:33] ascire-pic opened #497 "[BUG] ph5toevt & ph5torec not handling overlapping data correctly"
ph5toevt (and ph5torec) are not handling overlaps in data in a way that results in usable SEGY files. If an overlap exists in the data, ph5toevt writes the extra samples into the SEGY trace which creates invalid SEGY because the SEGY trace has more samples than are indicated in the trace header. This behavior and writing of extra samples is actually noted in the ph5toevt output:

[2022-01-19 23:06

[2022-01-28 00:12] timronan commented on #497
Is this issues relates to issue #485

[2022-01-31 18:57] ascire-pic commented on #497
Not exactly related to #485? Technically if you wrote out SEG-Y for the time period specified in the example in 485 it would be invalid because of this issue but that would be true for any data with an overlap, not just SmartSolo data discussed in 485.

[2022-02-08 17:46] ascire-pic commented on #490
Issue resolved in PR#494.

[2022-02-08 17:46] #490 closed

[2022-02-08 20:20] hrotman-pic commented on #493
Resolved by #495 .

[2022-02-08 20:20] #493 closed

[2022-02-08 20:29] hrotman-pic commented on #480
Resolved by #489.

[2022-02-08 20:29] #480 closed

[2022-02-08 20:30] timronan commented on #462
Closed by merge #463

[2022-02-08 20:30] #462 closed

[2022-02-10 18:54] hrotman-pic opened #499 "[BUG] ph5availability output for SmartSolo does not cover all expected times"
**Describe the bug (overview)**
Output from ph5availability for SmartSolo experiments does not appear to be consistent with expectations (ie continuous recording) or the windows listed in the DAS table, and is instead skipping some of those windows.  For validated archives at the DMC, I have made queries both on the PIC production server and PH5WS.  As far as I can determine, PH5WS availability be

[2022-02-10 22:09] hrotman-pic opened #500 "[BUG] ph5toms: Data extraction inconsistent when number of input files is too large"
**Describe the bug**
It appears that for some stations, the ability of ph5toms to extract data from some dates & times depends on the query parameters.  I discovered this when I tried to extract all data for a station's deployment.  I think this does not affect all stations in an experiment, but may require additional testing to determine if this bug is limited to a few stations per experiment or

[2022-03-03 22:44] ascire-pic opened #502 "[BUG] pforma is sorting SmartSolo data by file name, not das serial number"
pforma is sorting SmartSolo SEGD data into folders for processing by file name only without checking the headers to determine the station ID. This is a problem because PH5 uses the line + station ID to create the das_serial_number field (ie 1X3) used in the das tables and array table to identify the data. As a result, if more than one SmartSolo was deployed at the same station in a rolling deploym

[2022-03-08 20:54] hrotman-pic commented on #500
Example of unexpected gap from a Fairfield experiment with several input files:
 msi -G *DPZ*
   Source                Last Sample              Next Sample       Gap  Samples
Z4_2021__DPZ      2021,155,11:54:15.077998 2021,155,12:22:57.809998 1723 861365
Z4_2021__DPZ      2021,156,11:22:57.807998 2021,156,11:00:49.861999 -1328 663974
Z4_2021__DPZ      2021,156,12:30:49.859999 2021,156,12:08:41.874

[2022-05-03 23:05] timronan commented on #500
I ran ph5validate on experiment 21-014 and received a number of errors stating that the DAS tables were out of order.

As suggested by the output message I ran: `fix_das_t_order`, which executed with no issues.

After executing `fix_das_t_order` ph5_validate was reran and the there were no errors were reported: (this check shows that PH5 validate works as expected).

After running ph5_validate and

[2022-05-26 17:33] hrotman-pic commented on #500
Resolved by #503 .

[2022-05-26 17:33] #500 closed

[2022-05-31 19:27] #497 closed

[2022-08-11 14:32] hrotman-pic commented on #499
As requested, examples from the rebuild of 21-002, starting with the short examples in the original issue.  This rebuild was started in late July, using new SEGD files written out in July.

Station 8162:
`ph5availability -n master.ph5 --station 8162 -s 2020-11-08T06:00:00 -e 2020-11-08T10:00:00 -c GP1 -S -a 2 -f t`
#n s      l  c   q sample-rate                    earliest                      lat

[2022-10-04 19:45] timronan opened #506 "[BUG] ph5availability performance"
**Describe the bug**
ph5availability performance is too slow to be able to accurately build the ph5availablity tsindex archive that drives the IRIS web services.

**Environment (please complete the following information):**
 - OS: [e.g. Ubuntu 16.04]
 - Program Version [ph5toms 2018.268]

**To Reproduce**
Steps to reproduce the behavior:
Run Ph5availability on any PH5 experiment and observe the am

[2022-10-05 23:05] mike-iris opened #507 "[BUG] segytoph5 throwing exceptions an not running"
**Describe the bug**
segytoph5 throwing exceptions an not running

**Environment (please complete the following information):**
 MacOS 12.6

**To Reproduce**
run in the regular git deployed configuration

**Expected behavior**
read a segy file and create a respective set ph5, master and miniPH5 files without metadata

**Screenshots**
n/a

**Additional context**
n/a

[2022-11-09 00:30] emilylmaher opened #508 "ph5_validate: ph5.utilities.ph5validate - ERROR: list index out of range"
**Describe the bug**
When running ph5_validate command run into the error that the list index is out of range.

**Environment (please complete the following information):**
 - OS: PIC PH5 server,
 - Program Version [ph5toms 2018.268]

**To Reproduce**
Steps to reproduce the behavior:
Run ph5_validate on any of the directories in validate_logs that is 24 bytes:

- 10-008
- 10-021
- 15-015
- 11-021

[2022-11-15 20:38] #507 closed

[2022-11-15 20:49] timronan commented on #507
`segytoph5` is not currently being supported. The transformation between SEGY and a modern active source storage format maybe considered at a future date.

[2022-11-15 20:53] #416 closed

[2022-11-15 20:53] #413 closed

[2022-11-15 20:55] timronan commented on #507
This code could be potentially removed from the PH5 software package. Refer to issue `https://github.com/PIC-IRIS/PH5/issues/348`.